.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }

  .title {
    color: wheat;
    margin: 3rem 0;
    font-size: 2rem;
  }
  .btn {
    height: 3rem;
    width: 20rem;
    margin-top: 3rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px  antiquewhite, 0 0 10px antiquewhite;
  }
  
  .btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
  }
  