.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: -300px; /* Start off-screen */
  transition: left 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar.open {
  left: 0; /* Move into view */
}

.sidebar-item {
  padding: 15px 0;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #34495e;
}

.btn {
  height: 3rem;
  width: 20rem;
  margin-top: 3rem;
  background-color: wheat;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
}

.btn:hover {
  background-color: antiquewhite;
  box-shadow: none;
}

.hamburger-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: #2c3e50;
  cursor: pointer;
  z-index: 1000; /* Ensure it is above other elements */
  transition: opacity 0.3s ease-in-out;
}

.hamburger-icon.transparent {
  opacity: 0; /* Make the icon transparent */
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.sidebar-content {
  flex-grow: 0.8; /* Allows this container to grow and push the button down */
}