#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }
  .title {
    color: wheat;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .btn {
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
  }
  
  .btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
  }